ig.raakode.dk {
    reverse_proxy web:3000
}

news.raakode.dk {
    reverse_proxy web:3000
}

oneshot.raakode.dk {
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy host.docker.internal:3001
    }

    handle {
        reverse_proxy host.docker.internal:5173
    }
}
